{
    "plugins": [
      [
        "@babel/plugin-transform-react-jsx",
        {
          "pragma": "transform"     
        }
      ],
      [
        "@babel/plugin-proposal-class-properties",
        {
          "loose": true
        }
      ]
    ]
  }
